<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Newtonsoft.json" version="13.0.2" allowedVersions="[6,7)" />
	<package id="OpenTK" version="3.3.2" />
	<package id="OpenTK.GLControl" version="3.1.0" allowedVersions="[6,7)" />
	<package id="OpenTK.GLWpfControl" version="4.1.0" allowedVersions="[6,7)" />
	<package id="System.Runtime.Numerics" version="4.3.0" allowedVersions="[6,7)" />
	<package id="System.Numerics.Vectors" version="4.5.0" allowedVersions="[6,7)" />
	<package id="System.Numerics.Tensors" version="6.0.0-rtm.21522.10" allowedVersions="[6,7)" />
	<package id="Numerics.NET" version="1.0.43" allowedVersions="[6,7)" />
	<package id="GeoJSON.Net" version="1.2.22-rc" allowedVersions="[6,7)" />
	<package id="ZeroMQ" version="4.1.0.31" allowedVersions="[6,7)" />
</packages>
	<!--
	<package id="opencl.net" version="2.2.9" allowedVersions="[6,7)" />
	<package id="unity" version="5.11.7" allowedVersions="[6,7)" />
	<package id="unity3d.unityengine" version="2018.3.5.1" allowedVersions="[6,7)" />
	<package id="unityengine" version="1.0.0" allowedVersions="[6,7)" />
	-->
