<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Newtonsoft.json" version="12.0.3" allowedVersions="[6,7)" />
	<package id="opentk" version="3.2.0" allowedVersions="[6,7)" />
	<package id="opentk.glcontrol" version="3.1.0" allowedVersions="[6,7)" />
	<package id="opengl.net" version="1.0.304" allowedVersions="[6,7)" />
	<package id="opengl.net.winforms" version="1.0.304" allowedVersions="[6,7)" />
	<package id="numerics" version="1.0.14" allowedVersions="[6,7)" />
	<package id="OpenTK.GLWpfControl" version="2.1.0" allowedVersions="[6,7)" />
	<!--
	<package id="opencl.net" version="2.2.9" allowedVersions="[6,7)" />
	<package id="unity" version="5.11.7" allowedVersions="[6,7)" />
	<package id="unity3d.unityengine" version="2018.3.5.1" allowedVersions="[6,7)" />
	<package id="unityengine" version="1.0.0" allowedVersions="[6,7)" />
	-->
</packages>
